<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>node.js practice</title>
</head>
<body>
  <%- include('nav.html')%>
  <div class="container">
    <h1><%=data.title%></h1>
    <p><%=data.content%></p>
    <span>Write by <%=data.name%></span>
  </div>
</body>
</html>