<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>node.js practice</title>
</head>
<body>
  <%- include('nav.html')%>
  <div class="container">
    <h1>Node.js</h1>
    <p><h1>Welcome Main page</h1> This Web site is Node.js practice page</p>
  </div>
</body>
</html>