@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@import "variables.css";
/* @import "reset.css"; */

/* Components */
@import "components/nav-bar.css";

/* Screens */
@import "screens/write.css";
@import "screens/index.css";
@import "screens/list.css";
@import "screens/detail.css";

body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  transform: rotate(0.03deg);
}

h1 {
  margin: 0;
}

div, input, textarea {
  box-sizing: border-box;
}

input[type=date] {
  border: none;
}

a {
  text-decoration: none;
  color:var(--text-color);
}

li {
  will-change: transform;
}

li:hover {
  transform: translate(10px, 0);
  transition: all 0.6s;
}

button {
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: var(--background-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-color);
  padding: 18px;
  color: white;
  font-weight: 800;
}