@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@import "variables.css";

/* Components */
@import "components/nav-bar.css";

/* Screens */
@import "screens/write.css";

body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  transform: rotate(0.03deg);
}

div, input, textarea {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:var(--text-color);
}